<%- include('head.html') %>
<h1><%= header %></h1>
<!-- <ul>
  <% users.forEach((user)=>{ %>
  <li><%= user.name %> - <%= user.email %></li>
  <% }) %>
</ul> -->
<form id="user-form">
  <div class="form-field">
    <label for="first-name">First name:</label>
    <input type="text" name="first-name" id="first-name" />
  </div>
  <div class="form-field">
    <label for="last-name">Last name:</label>
    <input type="text" name="last-name" id="last-name" />
  </div>
  <div class="form-field">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
  </div>
  <div class="form-field">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="form-field">
    <label for="password-confirm">Confirm password:</label>
    <input type="password" name="password-confirm" id="password-confirm" />
  </div>
  <div class="form-field">
    <button>Submit</button>
  </div>
</form>
<%- include('foot.html') %>
